# Reports & Documents (preventing docx and pdf files from being committed to Git)
*.docx
*.pdf

# Android Gradle build outputs & caches
**/build/
.gradle/
.kotlin/

# Android SDK Local configuration (contains local machine paths)
local.properties
**/local.properties

# Android Studio / IntelliJ IDEA configs
.idea/
*.iml
*.ipr
*.iws

# Compilation & Packaging outputs
*.apk
*.aar
*.ap_
*.der

# System & OS temporary files
.DS_Store
Thumbs.db
*.log

# Crashlytics & Captures
captures/
.externalNativeBuild/
.cxx/
