# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environments
.venv/
venv/
env/

# IDE files
.idea/
.vscode/

# Reports (Keep locally, do not push to GitHub)
ЛБ1_ВМПтФ_Лебеденко_ПЗПІ-23-9.docx
ЛБ1_ВМПтФ_Лебеденко_ПЗПІ-23-9.pdf
